bin
obj
*.suo
*.user
/TestApi/PhpTestApi/.idea
.idea
/XCartApi/xcart

/XCartApi/api/testPush.php
/files

/Android/X-CartNew/gen

/XCartAdminProject/libraries/wheel/build

/XCartAdminProject/libraries/android-switch-backport/build

/XCartAdminProject/XCartAdmin/*.iml

*.iml

/XCartAdminProject/XCartAdmin/mobtech.keystore
