<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="RepoLibraryBehavior" name="RepoLibrary.RepoLibraryService">
        <endpoint address="" binding="wsHttpBinding" contract="RepoLibrary.IRepoLibrary" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/RepoLibraryService/service" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RepoLibraryBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>